/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.bg-color-yellow-light {
  background-color: #fefaed;
}

.bg-color-green-light {
  background-color: #f3ffe3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #7cbc39;
  color: #fff;
}

::selection {
  background-color: #7cbc39;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sunset-Serial";
}

ul,
li {
  list-style-type: none;
}

p,
a {
  font-family: "Circe";
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

@media (min-width: 14rem) {
  .container {
    max-width: 125rem;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.banner__title {
  font-size: 6rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fe5717;
}
@media only screen and (max-width: 87.3em) {
  .banner__title {
    font-size: 5.2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .banner__title {
    font-size: 6.6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .banner__title {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 35.5em) {
  .banner__title {
    font-size: 3.3rem;
  }
}

.banner__title__secondary {
  font-size: 4.8rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fe5717;
}
@media only screen and (max-width: 35.5em) {
  .banner__title__secondary {
    font-size: 3.3rem;
    text-align: left;
  }
}

.heading-primary {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1;
  color: #000;
  display: inline-block;
}
@media only screen and (max-width: 35.5em) {
  .heading-primary {
    text-align: left;
  }
}

.paragraph-primary {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: center;
  color: #4d4d4d;
}
@media only screen and (max-width: 87.3em) {
  .paragraph-primary {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 35.5em) {
  .paragraph-primary {
    text-align: left;
  }
  .paragraph-primary br {
    display: none;
  }
}

.paragraph-secondary {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.4;
  color: #4d4d4d;
}

.liner-gradient-background {
  background: linear-gradient(0deg, #f9f9f9 0%, #dff8ff 101.95%);
}

.section_banner {
  background: linear-gradient(0deg, #f9f9f9 0%, #dff8ff 101.95%);
  padding: 15rem 0 6rem;
  position: relative;
}

.text-bold {
  font-weight: bold;
}

.margin-auto {
  margin: auto;
}

.width-full {
  width: 100%;
}

.u-center-text {
  text-align: center !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

section {
  padding: 10rem 0;
}

.text__green {
  color: #7cbc39;
}

.text__black {
  color: #000;
}

.d-flex {
  display: flex;
}

.d-wrap {
  flex-wrap: wrap;
}

@media only screen and (max-width: 37.5em) {
  .d-wrap-reverse-phone {
    flex-wrap: wrap-reverse;
  }
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.gap-3 {
  gap: 1rem;
}

.align-center {
  align-items: center;
}

.text__element,
.text-back-element {
  position: relative;
}

.text__element--img {
  position: absolute;
  top: -3rem;
  right: -6rem;
}
@media only screen and (max-width: 56.25em) {
  .text__element--img {
    top: -1rem;
    right: -3rem;
    width: 4rem;
  }
}
@media only screen and (max-width: 35.5em) {
  .text__element--img {
    top: -2rem;
    right: -4rem;
  }
}

.text-back-element::before {
  content: "";
  position: absolute;
  background-image: url(../img/content-circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: -1.3rem;
  left: -4.4rem;
  width: 20rem;
  height: 15rem;
  transform: rotate(-5deg);
}

.border-radius-10 {
  border-radius: 1rem;
}

.border-radius-20 {
  border-radius: 2rem;
}

.border-radius-circle {
  border-radius: 50%;
}

.pt-0 {
  padding-top: 0;
}

.pt_10 {
  padding-top: 1rem;
}

.pb_10 {
  padding-bottom: 1rem;
}

.pl_10 {
  padding-left: 1rem;
}

.pr_10 {
  padding-right: 1rem;
}

.margin_top_10 {
  margin-top: 1rem;
}

.margin_bottom_10 {
  margin-bottom: 1rem;
}

.margin_left_10 {
  margin-left: 1rem;
}

.margin_right_10 {
  margin-right: 1rem;
}

.padding_bottom--10 {
  padding-bottom: 1rem;
}

.padding_bottom--20 {
  padding-bottom: 2rem;
}

.padding_bottom--30 {
  padding-bottom: 3rem;
}

.padding_bottom--40 {
  padding-bottom: 4rem;
}

.padding_bottom--50 {
  padding-bottom: 5rem;
}

.padding_top_20 {
  padding-top: 2rem;
}

.padding_left_20 {
  padding-left: 2rem;
}

.padding_right_20 {
  padding-right: 2rem;
}

.paddting__top--16 {
  padding-top: 1.6rem;
}

.padding__bottom_60 {
  padding-bottom: 5.5rem;
}

.margin-bottom-40 {
  margin-bottom: 4rem;
}

.margin-bottom-20 {
  margin-bottom: 2rem;
}

.margin_left_20 {
  margin-left: 2rem;
}

.margin_top_20 {
  margin-top: 2rem;
}

.margin_right_20 {
  margin-right: 2rem;
}

.margin-bottom-24 {
  margin-bottom: 2.4rem;
}

.max__80 {
  max-width: 80%;
  margin: auto;
}
@media only screen and (max-width: 56.25em) {
  .max__80 {
    max-width: 100%;
  }
}

.max__65 {
  max-width: 65%;
  margin: auto;
}
@media only screen and (max-width: 56.25em) {
  .max__65 {
    max-width: 100%;
  }
}

.max__50 {
  max-width: 50%;
  margin: auto;
}
@media only screen and (max-width: 56.25em) {
  .max__50 {
    max-width: 100%;
  }
}

.truncate {
  display: -webkit-box; /* set the display type to a webkit box */
  -webkit-box-orient: vertical; /* set the orientation of the box to vertical */
  overflow: hidden; /* hide any overflow content */
  text-overflow: ellipsis; /* add dots to the end of the truncated text */
}

.line-clamp-one {
  -webkit-line-clamp: 1; /* set the maximum number of lines to 2 */
}

.line-clamp-two {
  -webkit-line-clamp: 2; /* set the maximum number of lines to 2 */
}

.line-clamp-three {
  -webkit-line-clamp: 3; /* set the maximum number of lines to 3 */
}

.line-clamp-four {
  -webkit-line-clamp: 4; /* set the maximum number of lines to 4 */
}

.br {
  display: block;
  width: 100%;
  border: 1px solid #e2e2e2;
  margin: 2rem 0;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.popup {
  position: absolute;
  background-color: #7cbc39;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 0.9;
  transition: opacity 0.5s;
  font-size: 1.2rem;
}

/* footer-section */
footer {
  padding-top: 10rem;
  padding-bottom: 4rem;
}
footer .container-fluid {
  position: relative;
}
footer .container-fluid .footer-img {
  position: absolute;
  top: -51%;
  width: 94%;
  z-index: -2;
}
footer .container-fluid .social_media {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}
footer .container-fluid .social_media a {
  padding: 0 1rem;
}
footer .container-fluid .copyright h4 {
  font-family: "Circe";
  font-weight: 400;
  font-size: 1.6rem;
  color: #000;
  opacity: 0.8;
}

.row {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .row {
    flex-wrap: wrap;
  }
}

.col-lg-3 {
  width: 32.4%;
}
@media only screen and (max-width: 56.25em) {
  .col-lg-3 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.col-lg-6 {
  width: 49%;
}
@media only screen and (max-width: 56.25em) {
  .col-lg-6 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.d-grid {
  display: grid;
}

.grid-auto-rows {
  grid-auto-rows: auto;
}

.grid-gap-10 {
  grid-gap: 1rem;
}

.grid-gap-20 {
  grid-gap: 2rem;
}

.nav-list li {
  padding: 0 3rem;
}

.nav-list li a {
  font-size: 2.3rem;
  color: #000;
  transition: all 0.3s;
}

.nav-list li a:hover,
.nav-list li a:active {
  color: #fe5717;
}

.nav-list li a.active {
  color: #fe5717;
}

@media screen and (min-width: 60rem) {
  .navigation {
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: auto !important;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul.nav-list {
    display: flex !important;
  }
}
.navigation {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 5.5rem;
  width: 7rem;
}

@media only screen and (max-width: 60rem) {
  .nav-mobile {
    display: block;
    top: 1rem;
  }
  nav {
    width: 100%;
  }
  .nav-list {
    background-color: #fff;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  .nav-list li {
    padding: 2rem 3rem;
    text-align: center;
  }
  nav ul li ul li a {
    padding-left: 3rem;
  }
  .navbar-dropdown {
    position: static;
  }
  .nav-container .btn {
    display: none;
  }
  .brand {
    padding: 2rem;
  }
}
@media screen and (min-width: 60rem) {
  .nav-list {
    display: block !important;
  }
}
#navbar-toggle {
  position: absolute;
  left: 1.8rem;
  top: 1.5rem;
  cursor: pointer;
  padding: 1rem 3.5rem 1.6rem 0rem;
}

#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
  cursor: pointer;
  border-radius: 0.1rem;
  height: 0.3rem;
  width: 3rem;
  background: #000;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#navbar-toggle span:before {
  top: -1rem;
}

#navbar-toggle span:after {
  bottom: -1rem;
}

#navbar-toggle.active span:before,
#navbar-toggle.active span:after {
  top: 0;
}

#navbar-toggle.active span:before {
  transform: rotate(45deg);
}

#navbar-toggle.active span:after {
  transform: rotate(-45deg);
}

.btn, .btn:link, .btn:visited {
  background: #fe5717;
  border: 0.2rem solid #fe5717;
  border-radius: 1.2rem;
  padding: 1rem 3rem;
  color: #fff !important;
  font-size: 2.4rem;
}

.menuBox {
  background: #fff;
  border: 1px solid #ececec;
  box-shadow: 0px 44px 106px rgba(217, 217, 217, 0.3);
  border-radius: 61px;
  text-align: center;
  margin-right: 2rem;
}
.menuBox:hover {
  background-color: #ececec;
}
.menuBox:last-child {
  margin-right: 0px;
}
@media only screen and (max-width: 56.25em) {
  .menuBox {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .menuBox {
    margin-right: 0.5rem;
  }
}
.menuBox__text {
  padding: 0.7rem 2rem;
  color: #4d4d4d;
  font-size: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .menuBox__text {
    padding: 0.7rem 1.5rem;
  }
}
.menuBox__searchtext {
  padding: 0.7rem 2rem;
  color: #4d4d4d;
  font-size: 2rem;
}
.menuBox__search_icon {
  margin-left: 1rem;
  width: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .menuBox--right {
    width: 100%;
  }
}

.blog_card {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.blog_card:hover .iconBox__icon {
  visibility: visible;
}
.blog_card .img {
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_card .blog_card_heading {
  color: #000;
  transition: all 0.3s;
  font-size: 2.8rem;
  line-height: 3.8rem;
}
.blog_card .blog_card_heading:hover {
  color: #fe5717;
}
.blog_card .blog_card_heading_all_blog {
  color: #000;
  transition: all 0.3s;
  font-size: 2.6rem;
  line-height: 3.5rem;
}
.blog_card .blog_card_heading_all_blog:hover {
  color: #fe5717;
}
.blog_card_description {
  font-size: 2rem;
  line-height: 2.8rem;
}
.blog_card .iconBox {
  background: #fff;
}
.blog_card .iconBox__icon {
  visibility: hidden;
  border: 1px solid #cbcbcb;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_card .iconBox__icon:hover {
  background-color: #ececec;
}
.blog_card .iconBox__icon img {
  width: 1rem;
}
.blog_card .iconBox__authorAvatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #cbcbcb;
}
.blog_card .iconBox__authorAvatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.blog_card .iconBox__authorName {
  font-size: 1.6rem;
  font-weight: 400;
}
.blog_card .iconBox__authorPostDate {
  font-size: 1.6rem;
  color: #666666;
}

.blog_card--row {
  flex-direction: row;
  margin-bottom: 2rem;
}
.blog_card--row .img {
  max-width: 50%;
  height: auto;
}
.blog_card--row .blog_card_heading {
  font-size: 2rem;
  line-height: 3rem;
}

.featureBlogContainer {
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 56.25em) {
  .featureBlogContainer {
    grid-template-columns: 1fr;
  }
}

#all-blogs-container_heading {
  font-size: 3.2rem;
  line-height: 5rem;
}

.allBlogListContainer {
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 56.25em) {
  .allBlogListContainer {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=blog.css.map */